#provider

project = "<project-id>" #update this
region = "<region>" #update this
zone = "<zone>" #update this
credentials_file = "<prefix-path>/MultiCloudInfraAI/Terraform/templates/google/svcaccount/svcaccountjson.json" #update this

#compute

instance_display_name = "{{instance_display_name}}"
image = "ubuntu-minimal-2210-kinetic-amd64-v20230126"
#machine_type = "n1-standard-1"
ocpus_count = "{{ocpus_count}}"
memory_count = "{{memory_count}}"
